* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00758F;
}

#titleContainer {
    display: flex;
    width: 100vw;
    height: fit-content;
    justify-content: center;
}

#title {
    border: solid;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 60px;
    background-color: #282D3C;
    color: white;
    margin-top: 10px;
}

#buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4vh;
    justify-content: center;
}

#buttonsContainer > div {
    border: solid;
    border-radius: 5px;
    font-size: clamp(0.8em, 1.2em, 2em);
    text-align: center;
    background-color: #798EA4;
    width: 20vw; 
    margin: 1vh;
}

#buttonsContainer > div:hover {
    background-color: #6F9FD8;
}
 
#container {
    display:grid;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border: solid;
    width: clamp(350px, 25vw, 30vw);
    height: clamp(350px, 25vw, 30vw);
    background-color: white;
}

.grid-item {
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.fa-github {
    color: black;
    font-size: 27px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}